<div class="profile-content">

    <div class="profile-picture">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F1xawnFRPNf9g4%2Fgiphy.gif&f=1">
        <div class="username">@{{block.user_data.base_info.username}}</div>
        <div class="points">points:{4342}</div>
    </div>

    {% for key, value in block.user_data.body_info %}
    <div class="{{key}}">
        <div class="title">{{key}}:</div>
        <div class="content{% if value == null %} null {% endif %}">
            {% if value == null %} 
            <span>null</span>
            {% else %}
                {{value}}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
