/*
    CONFIGURATION FILE
*/
/* line 6, ../../../scss/theme/views/menu.scss */
header nav li a {
  display: block;
  padding: 20px 40px;
  margin: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  text-align: right;
  transition: all ease 0.1s;
}
/* line 22, ../../../scss/theme/views/menu.scss */
header nav li.is-active a, header nav li a:hover {
  color: black;
  background: white;
}
