<nav>
    <ul class='main-menu menu'>
        <li>
            <a class='menu-link' href="./">
                &lt;home.rih/&gt;
            </a>
        </li>
        <li class='is-active'>
            <a class='menu-link' href="./login">
            &lt;login.rih/&gt;
            </a>
        </li>
        <li>
            <a class='menu-link' href="./profile">
                &lt;profile.rih/&gt;
            </a>
        </li>
        <li>
            <a class='menu-link' href="./forum">
                &lt;forum.rih/&gt;
            </a>
        </li>
        <li>
            <a class='menu-link' href="./home">
            &lt;about.rih/&gt;
            </a>
        </li>
        <li>
            <a class='menu-link' href="./docs">
                &lt;docs.rih/&gt;
            </a>
        </li>
    </ul>
</nav>
