/*
    MAIN THEME FAIL
*/
/*
    CONFIGURATION FILE
*/
/*
    CONFIGURATION FILE
*/
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 16, ../../scss/theme/animations.scss */
.blink {
  animation: blink 1s infinite;
  animation-timing-function: cubic-bezier(0.07, 0.95, 0, 1);
}

/* line 22, ../../scss/theme/animations.scss */
.side-brackets:hover, .sub-menu .menu-link:hover {
  position: relative;
}
/* line 24, ../../scss/theme/animations.scss */
.side-brackets:hover::before, .sub-menu .menu-link:hover::before, .side-brackets:hover::after, .sub-menu .menu-link:hover::after {
  display: inline-block;
}
/* line 27, ../../scss/theme/animations.scss */
.side-brackets:hover::before, .sub-menu .menu-link:hover::before {
  content: "[";
  margin-right: 0.4em;
}
/* line 31, ../../scss/theme/animations.scss */
.side-brackets:hover::after, .sub-menu .menu-link:hover::after {
  content: "]";
  margin-left: 0.4em;
}

/*
    CONFIGURATION FILE
*/
/* line 4, ../../scss/theme/header.scss */
header {
  background: #182B99;
}
/* line 6, ../../scss/theme/header.scss */
header .main-menu {
  margin: 0;
  display: flex;
  list-style: none;
}
/* line 10, ../../scss/theme/header.scss */
header .main-menu .menu-link:hover, header .main-menu li.is-active .menu-link {
  background: #5369E4;
}
/* line 14, ../../scss/theme/header.scss */
header .menu-link {
  transition: all cubic-bezier(0.07, 0.95, 0, 1) 0.1s;
  padding: 1em 2.5em;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #1F38C5;
}

/*
    CONFIGURATION FILE
*/
/* line 4, ../../scss/theme/home.scss */
.title-hld {
  text-align: center;
}
/* line 6, ../../scss/theme/home.scss */
.title-hld .title {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/* line 11, ../../scss/theme/home.scss */
.title-hld .title .blink {
  background: white;
  color: black;
}
/* line 16, ../../scss/theme/home.scss */
.title-hld .sub-title {
  margin-top: 0.8em;
}

/* line 21, ../../scss/theme/home.scss */
.sub-menu {
  text-align: center;
}
/* line 23, ../../scss/theme/home.scss */
.sub-menu .menu-item {
  margin: 10px;
  display: inline-block;
}
/* line 27, ../../scss/theme/home.scss */
.sub-menu .menu-link {
  text-transform: uppercase;
  padding: 2px 4px;
  display: inline-block;
  color: #182B99;
  background: #5369E4;
}

/* line 11, ../../scss/theme/theme.scss */
body {
  background: #1F38C5;
  color: white;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 19, ../../scss/theme/theme.scss */
#body-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 25, ../../scss/theme/theme.scss */
main {
  flex: 1;
  padding: 20px 70px;
}

/* line 30, ../../scss/theme/theme.scss */
.menu {
  padding: 0;
  list-style: none;
}
/* line 33, ../../scss/theme/theme.scss */
.menu .menu-link {
  text-decoration: none;
  cursor: pointer;
}

/* line 39, ../../scss/theme/theme.scss */
.center-xy, .popup {
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* line 48, ../../scss/theme/theme.scss */
.popup {
  background: #1F38C5;
  border: 6px double white;
}
/* line 52, ../../scss/theme/theme.scss */
.popup .popup-title {
  text-align: center;
  padding: 15px 50px;
  border-bottom: 1px solid white;
  font-weight: bold;
}
/* line 58, ../../scss/theme/theme.scss */
.popup .popup-info {
  padding: 10px;
  margin-top: 3px;
  border-top: 1px solid white;
}
/* line 63, ../../scss/theme/theme.scss */
.popup .popup-actions {
  display: flex;
  border-top: 1px solid white;
  padding: 10px;
}
/* line 67, ../../scss/theme/theme.scss */
.popup .popup-actions .action {
  flex: 1;
}

/* line 73, ../../scss/theme/theme.scss */
.hover-info {
  position: relative;
}
/* line 76, ../../scss/theme/theme.scss */
.hover-info.hover-info-x2:hover .hover-info-content {
  transform: translate(-50%, 100%);
  max-width: 200%;
  left: 50%;
}
/* line 83, ../../scss/theme/theme.scss */
.hover-info:hover .hover-info-content {
  transform: translateY(100%);
  display: block;
  position: absolute;
  padding: 5px;
  font-size: 0.9em;
  background: black;
  color: white;
  left: 0;
  bottom: -5px;
  z-index: 99;
}
/* line 97, ../../scss/theme/theme.scss */
.hover-info .hover-info-content {
  display: none;
}

/* line 102, ../../scss/theme/theme.scss */
.code-top, .code-bottom {
  background: #04bca6;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  color: white;
}

/* line 110, ../../scss/theme/theme.scss */
.code-body {
  position: relative;
  padding: 20px;
}
/* line 113, ../../scss/theme/theme.scss */
.code-body:before {
  content: '';
  width: 3px;
  height: 100%;
  left: 0px;
  bottom: 0;
  background: #04bca6;
  position: absolute;
}

/* line 122, ../../scss/theme/theme.scss */
.code-element {
  display: flex;
  margin: 0 0 10px 0;
}
/* line 125, ../../scss/theme/theme.scss */
.code-element:last-child {
  margin-bottom: 0;
}

/* line 130, ../../scss/theme/theme.scss */
.code-title {
  display: inline-block;
  background: white;
  color: #1F38C5;
  padding: 2px 0;
  margin-right: 10px;
}

/* line 139, ../../scss/theme/theme.scss */
.code-value:not(.input), .code-value.input input, .code-value.input textarea {
  padding: 2px 5px;
  background: transparent;
  color: #5369E4;
}

/* line 146, ../../scss/theme/theme.scss */
.todo {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  background: orange;
  color: white;
}
