/*
    MAIN THEME FAIL
*/
/*
    CONFIGURATION FILE
*/
/*
    CONFIGURATION FILE
*/
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 16, ../../scss/theme/animations.scss */
.blink {
  animation: blink 1s infinite;
  animation-timing-function: cubic-bezier(0.07, 0.95, 0, 1);
}

/* line 22, ../../scss/theme/animations.scss */
.side-brackets:hover, .sub-menu .menu-link:hover {
  position: relative;
}
/* line 24, ../../scss/theme/animations.scss */
.side-brackets:hover::before, .sub-menu .menu-link:hover::before, .side-brackets:hover::after, .sub-menu .menu-link:hover::after {
  display: inline-block;
}
/* line 27, ../../scss/theme/animations.scss */
.side-brackets:hover::before, .sub-menu .menu-link:hover::before {
  content: "[";
  margin-right: 0.4em;
}
/* line 31, ../../scss/theme/animations.scss */
.side-brackets:hover::after, .sub-menu .menu-link:hover::after {
  content: "]";
  margin-left: 0.4em;
}

/*
    CONFIGURATION FILE
*/
/* line 4, ../../scss/theme/header.scss */
header {
  background: #182B99;
}
/* line 6, ../../scss/theme/header.scss */
header .main-menu {
  margin: 0;
  display: flex;
  list-style: none;
}
/* line 10, ../../scss/theme/header.scss */
header .main-menu .menu-link:hover, header .main-menu li.is-active .menu-link {
  background: #5369E4;
}
/* line 14, ../../scss/theme/header.scss */
header .menu-link {
  transition: all cubic-bezier(0.07, 0.95, 0, 1) 0.1s;
  padding: 1em 2.5em;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #1F38C5;
}

/*
    CONFIGURATION FILE
*/
/* line 4, ../../scss/theme/home.scss */
.title-hld {
  text-align: center;
}
/* line 6, ../../scss/theme/home.scss */
.title-hld .title {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/* line 11, ../../scss/theme/home.scss */
.title-hld .title .blink {
  background: white;
  color: black;
}
/* line 16, ../../scss/theme/home.scss */
.title-hld .sub-title {
  margin-top: 0.8em;
}

/* line 21, ../../scss/theme/home.scss */
.sub-menu {
  text-align: center;
}
/* line 23, ../../scss/theme/home.scss */
.sub-menu .menu-item {
  margin: 10px;
  display: inline-block;
}
/* line 27, ../../scss/theme/home.scss */
.sub-menu .menu-link {
  text-transform: uppercase;
  padding: 2px 4px;
  display: inline-block;
  color: #182B99;
  background: #5369E4;
}

/* line 1, ../../scss/theme/authentication.scss */
#notus-page-authentication-content {
  position: relative;
}
/* line 3, ../../scss/theme/authentication.scss */
#notus-page-authentication-content .code-bottom + button {
  margin-left: 65px;
}

/* line 1, ../../scss/theme/post.scss */
.post {
  max-width: 650px;
}
/* line 3, ../../scss/theme/post.scss */
.post .like {
  position: fixed;
  left: 750px;
  top: 160px;
}
/* line 7, ../../scss/theme/post.scss */
.post .like .btn {
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 3px;
}
/* line 14, ../../scss/theme/post.scss */
.post .like .btn:hover {
  background: black;
  color: white;
}
/* line 19, ../../scss/theme/post.scss */
.post .like .point-count {
  text-align: center;
  margin: 7px 0;
}
/* line 24, ../../scss/theme/post.scss */
.post .about {
  display: flex;
  margin: 30px 0 20px;
}
/* line 27, ../../scss/theme/post.scss */
.post .about img {
  margin-right: 15px;
}
/* line 31, ../../scss/theme/post.scss */
.post .about .about-content .name {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 35, ../../scss/theme/post.scss */
.post .about .about-content .date {
  font-size: 0.8em;
}
/* line 37, ../../scss/theme/post.scss */
.post .about .about-content .date span {
  font-weight: bold;
}
/* line 43, ../../scss/theme/post.scss */
.post .title {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
  background: white;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
/* line 52, ../../scss/theme/post.scss */
.post .title:after {
  content: "";
  background: url("../../../images/minimize.png") no-repeat center center;
  position: absolute;
  top: 7px;
  right: 10px;
  width: 16px;
  height: 16px;
}
/* line 62, ../../scss/theme/post.scss */
.post .title.hidden:after {
  background-image: url("../../../images/maximize.png");
}
/* line 65, ../../scss/theme/post.scss */
.post .title.hidden + .content {
  max-height: 0px;
  padding: 0 20px;
}
/* line 70, ../../scss/theme/post.scss */
.post .title .category {
  font-size: 0.65em;
  font-weight: normal;
  background: #04bca6;
}
/* line 76, ../../scss/theme/post.scss */
.post .content {
  transition: all ease 0.2s;
  max-height: 100%;
  padding: 20px;
  border: 4px double white;
  letter-spacing: 0.1em;
  overflow: hidden;
}
/* line 84, ../../scss/theme/post.scss */
.post .attachments {
  flex: auto;
  margin-top: 30px;
}
/* line 87, ../../scss/theme/post.scss */
.post .attachments .content {
  padding: 20px 0;
}
/* line 89, ../../scss/theme/post.scss */
.post .attachments .content .header {
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid white;
  padding-bottom: 7px;
  text-transform: uppercase;
}
/* line 96, ../../scss/theme/post.scss */
.post .attachments .content .file-type {
  max-width: 20%;
  min-width: 20%;
}
/* line 100, ../../scss/theme/post.scss */
.post .attachments .content .file-size {
  min-width: 25%;
  max-width: 25%;
}
/* line 104, ../../scss/theme/post.scss */
.post .attachments .content .file-name {
  min-width: 45%;
  max-width: 45%;
}
/* line 108, ../../scss/theme/post.scss */
.post .attachments .content .file-open {
  min-width: 10%;
  max-width: 10%;
}
/* line 115, ../../scss/theme/post.scss */
.post .comments {
  margin-top: 90px;
}
/* line 117, ../../scss/theme/post.scss */
.post .comments .comment-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 122, ../../scss/theme/post.scss */
.post .comments .comment {
  margin-left: 20px;
  margin-bottom: 15px;
}
/* line 126, ../../scss/theme/post.scss */
.post .comments .comment-content {
  margin-top: 5px;
}
/* line 129, ../../scss/theme/post.scss */
.post .comments .comment-author {
  font-weight: bold;
  color: #F962B9;
  display: inline-block;
}
/* line 134, ../../scss/theme/post.scss */
.post .comments .comment-date {
  font-size: 0.8em;
  display: inline-block;
  color: #9ea8de;
}

/* line 142, ../../scss/theme/post.scss */
#notus-form-new-comment-hld {
  margin-top: 40px;
  position: static;
  transform: none;
}
/* line 146, ../../scss/theme/post.scss */
#notus-form-new-comment-hld .form-title, #notus-form-new-comment-hld .form-todo {
  display: none;
}
/* line 149, ../../scss/theme/post.scss */
#notus-form-new-comment-hld .submit {
  position: relative;
  margin-top: 0;
  top: 41px;
}

/* line 13, ../../scss/theme/theme.scss */
body {
  background: #1F38C5;
  color: white;
  font-size: 14px;
  overflow: hidden;
}

/* line 20, ../../scss/theme/theme.scss */
#body-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 26, ../../scss/theme/theme.scss */
main {
  flex: 1;
  padding: 20px 70px;
  overflow: auto;
  max-height: calc(100vh - 83px);
}

/* line 33, ../../scss/theme/theme.scss */
.side-lines {
  font-size: 0.9em;
  color: #5f82ff;
  letter-spacing: 0.1em;
  position: absolute;
  top: 68px;
  left: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
}
/* line 43, ../../scss/theme/theme.scss */
.side-lines:after {
  content: '';
  width: 1px;
  height: calc(100% - 21px);
  right: -10px;
  bottom: 0;
  background: #5f82ff;
  position: absolute;
}
/* line 52, ../../scss/theme/theme.scss */
.side-lines .line {
  margin-bottom: 5px;
}
/* line 54, ../../scss/theme/theme.scss */
.side-lines .line:first-child {
  right: -1.4em;
  position: relative;
}
/* line 57, ../../scss/theme/theme.scss */
.side-lines .line:first-child::after {
  content: '</';
  display: inline-block;
}

/* line 64, ../../scss/theme/theme.scss */
.menu {
  padding: 0;
  list-style: none;
}
/* line 67, ../../scss/theme/theme.scss */
.menu .menu-link {
  text-decoration: none;
  cursor: pointer;
}

/* line 73, ../../scss/theme/theme.scss */
.center-xy, .popup {
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* line 82, ../../scss/theme/theme.scss */
.popup {
  background: #1F38C5;
  border: 6px double white;
  position: fixed;
  max-width: 650px;
  z-index: 15;
}
/* line 89, ../../scss/theme/theme.scss */
.popup .popup-title {
  text-align: center;
  padding: 15px 50px;
  border-bottom: 1px solid white;
  font-weight: bold;
}
/* line 95, ../../scss/theme/theme.scss */
.popup .popup-info {
  padding: 10px;
  margin-top: 3px;
  border-top: 1px solid white;
}
/* line 100, ../../scss/theme/theme.scss */
.popup .popup-actions {
  margin-top: 20px;
  display: flex;
  border-top: 1px solid white;
  padding: 10px;
}
/* line 105, ../../scss/theme/theme.scss */
.popup .popup-actions .action {
  flex: 1;
  text-align: center;
}

/* line 112, ../../scss/theme/theme.scss */
.form-hld {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 118, ../../scss/theme/theme.scss */
#cookie {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  font-size: 15px;
}
/* line 127, ../../scss/theme/theme.scss */
#cookie .Necessary .hover-list {
  cursor: not-allowed;
}
/* line 129, ../../scss/theme/theme.scss */
#cookie .Necessary .hover-list:hover {
  background: #1F38C5;
  color: #FCFB66;
}
/* line 135, ../../scss/theme/theme.scss */
#cookie .action span {
  display: inline-block;
  cursor: pointer;
  padding: 3px 5px;
}
/* line 142, ../../scss/theme/theme.scss */
#cookie .action.accept-cookie span {
  background: #04bca6;
}
/* line 145, ../../scss/theme/theme.scss */
#cookie .action.decline-cookie span {
  background: #FF0000;
}

/* line 151, ../../scss/theme/theme.scss */
.cookie-type {
  padding: 20px 20px 5px;
}

/* line 155, ../../scss/theme/theme.scss */
.hover-list {
  color: #FCFB66;
  display: flex;
  cursor: pointer;
  padding: 5px 20px;
  margin: 5px 0;
}
/* line 157, ../../scss/theme/theme.scss */
.hover-list .hover-list-name {
  font-weight: bold;
}
/* line 164, ../../scss/theme/theme.scss */
.hover-list > * {
  flex: 1;
  text-align: left;
}
/* line 167, ../../scss/theme/theme.scss */
.hover-list > *:last-child {
  text-align: right;
}
/* line 171, ../../scss/theme/theme.scss */
.hover-list:hover {
  color: #1F38C5;
  background: #BABABA;
}

/* line 177, ../../scss/theme/theme.scss */
.hover-info {
  position: relative;
}
/* line 180, ../../scss/theme/theme.scss */
.hover-info.hover-info-x2:hover .hover-info-content {
  transform: translate(-50%, 100%);
  max-width: 200%;
  left: 50%;
}
/* line 187, ../../scss/theme/theme.scss */
.hover-info:hover .hover-info-content {
  transform: translateY(100%);
  display: block;
  position: absolute;
  padding: 5px;
  font-size: 0.9em;
  background: black;
  color: white;
  left: 0;
  bottom: -5px;
  z-index: 99;
}
/* line 201, ../../scss/theme/theme.scss */
.hover-info .hover-info-content {
  display: none;
}

/* line 206, ../../scss/theme/theme.scss */
.code-top, .code-bottom {
  background: #04bca6;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  color: white;
}

/* line 214, ../../scss/theme/theme.scss */
.code-body {
  position: relative;
  padding: 20px;
}
/* line 217, ../../scss/theme/theme.scss */
.code-body:before {
  content: '';
  width: 3px;
  height: 100%;
  left: 0px;
  bottom: 0;
  background: #04bca6;
  position: absolute;
}

/* line 226, ../../scss/theme/theme.scss */
.code-element {
  display: flex;
  margin: 0 0 10px 0;
}
/* line 229, ../../scss/theme/theme.scss */
.code-element:last-child {
  margin-bottom: 0;
}

/* line 234, ../../scss/theme/theme.scss */
.code-title {
  display: inline-block;
  background: white;
  color: #1F38C5;
  padding: 2px 0;
  margin-right: 10px;
}

/* line 243, ../../scss/theme/theme.scss */
.code-value:not(.input), .code-value.input input, .code-value.input textarea {
  padding: 2px 5px;
  background: transparent;
  color: #5369E4;
}

/* line 250, ../../scss/theme/theme.scss */
.todo {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  background: orange;
  color: white;
}
