/*
    MAIN THEME FAIL
*/
/*
    CONFIGURATION FILE
*/
/*
    CONFIGURATION FILE
*/
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 16, ../../scss/theme/animations.scss */
.blink {
  animation: blink 1s infinite;
  animation-timing-function: cubic-bezier(0.07, 0.95, 0, 1);
}

/* line 22, ../../scss/theme/animations.scss */
.side-brackets:hover, .sub-menu .menu-link:hover {
  position: relative;
}
/* line 24, ../../scss/theme/animations.scss */
.side-brackets:hover::before, .sub-menu .menu-link:hover::before, .side-brackets:hover::after, .sub-menu .menu-link:hover::after {
  display: inline-block;
}
/* line 27, ../../scss/theme/animations.scss */
.side-brackets:hover::before, .sub-menu .menu-link:hover::before {
  content: "[";
  margin-right: 0.4em;
}
/* line 31, ../../scss/theme/animations.scss */
.side-brackets:hover::after, .sub-menu .menu-link:hover::after {
  content: "]";
  margin-left: 0.4em;
}

/*
    CONFIGURATION FILE
*/
/* line 4, ../../scss/theme/header.scss */
header {
  background: #182B99;
}
/* line 6, ../../scss/theme/header.scss */
header .menu {
  margin: 0;
  display: flex;
  list-style: none;
}
/* line 10, ../../scss/theme/header.scss */
header .menu .menu-link:hover, header .menu li.is-active .menu-link {
  background: #5369E4;
}
/* line 14, ../../scss/theme/header.scss */
header .menu-link {
  transition: all cubic-bezier(0.07, 0.95, 0, 1) 0.1s;
  padding: 1em 2.5em;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #1F38C5;
}

/*
    CONFIGURATION FILE
*/
/* line 4, ../../scss/theme/home.scss */
.title-hld {
  text-align: center;
}
/* line 6, ../../scss/theme/home.scss */
.title-hld .title {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/* line 11, ../../scss/theme/home.scss */
.title-hld .title .blink {
  background: white;
  color: black;
}
/* line 16, ../../scss/theme/home.scss */
.title-hld .sub-title {
  margin-top: 0.8em;
}

/* line 21, ../../scss/theme/home.scss */
.sub-menu {
  text-align: center;
}
/* line 23, ../../scss/theme/home.scss */
.sub-menu .menu-item {
  margin: 10px;
  display: inline-block;
}
/* line 27, ../../scss/theme/home.scss */
.sub-menu .menu-link {
  text-transform: uppercase;
  padding: 2px 4px;
  display: inline-block;
  color: #182B99;
  background: #5369E4;
}

/* line 1, ../../scss/theme/authentication.scss */
#notus-page-authentication-content {
  position: relative;
}
/* line 3, ../../scss/theme/authentication.scss */
#notus-page-authentication-content .code-bottom + button {
  margin-left: 65px;
}

/* line 1, ../../scss/theme/post.scss */
.post {
  max-width: 650px;
}
/* line 3, ../../scss/theme/post.scss */
.post .like {
  position: fixed;
  left: 750px;
  top: 160px;
}
/* line 7, ../../scss/theme/post.scss */
.post .like .btn {
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 3px;
}
/* line 14, ../../scss/theme/post.scss */
.post .like .btn:hover {
  background: black;
  color: white;
}
/* line 19, ../../scss/theme/post.scss */
.post .like .point-count {
  text-align: center;
  margin: 7px 0;
}
/* line 24, ../../scss/theme/post.scss */
.post .about {
  display: flex;
  margin: 30px 0 20px;
}
/* line 27, ../../scss/theme/post.scss */
.post .about img {
  margin-right: 15px;
}
/* line 31, ../../scss/theme/post.scss */
.post .about .about-content .name {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 35, ../../scss/theme/post.scss */
.post .about .about-content .date {
  font-size: 0.8em;
}
/* line 37, ../../scss/theme/post.scss */
.post .about .about-content .date span {
  font-weight: bold;
}
/* line 43, ../../scss/theme/post.scss */
.post .title {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
  background: white;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
/* line 52, ../../scss/theme/post.scss */
.post .title:after {
  content: "";
  background: url("../../../images/minimize.png") no-repeat center center;
  position: absolute;
  top: 7px;
  right: 10px;
  width: 16px;
  height: 16px;
}
/* line 62, ../../scss/theme/post.scss */
.post .title.hidden:after {
  background-image: url("../../../images/maximize.png");
}
/* line 65, ../../scss/theme/post.scss */
.post .title.hidden + .content {
  max-height: 0px;
  padding: 0 20px;
}
/* line 70, ../../scss/theme/post.scss */
.post .title .category {
  font-size: 0.65em;
  font-weight: normal;
  background: #04bca6;
}
/* line 76, ../../scss/theme/post.scss */
.post .content {
  transition: all ease 0.2s;
  max-height: 100%;
  padding: 20px;
  border: 4px double white;
  letter-spacing: 0.1em;
  overflow: hidden;
}
/* line 84, ../../scss/theme/post.scss */
.post .attachments {
  flex: auto;
  margin-top: 30px;
}
/* line 87, ../../scss/theme/post.scss */
.post .attachments .content {
  padding: 20px 0;
}
/* line 89, ../../scss/theme/post.scss */
.post .attachments .content .header {
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid white;
  padding-bottom: 7px;
  text-transform: uppercase;
}
/* line 96, ../../scss/theme/post.scss */
.post .attachments .content .file-type {
  max-width: 20%;
  min-width: 20%;
}
/* line 100, ../../scss/theme/post.scss */
.post .attachments .content .file-size {
  min-width: 25%;
  max-width: 25%;
}
/* line 104, ../../scss/theme/post.scss */
.post .attachments .content .file-name {
  min-width: 45%;
  max-width: 45%;
}
/* line 108, ../../scss/theme/post.scss */
.post .attachments .content .file-open {
  min-width: 10%;
  max-width: 10%;
}
/* line 115, ../../scss/theme/post.scss */
.post .comments {
  margin-top: 90px;
}
/* line 117, ../../scss/theme/post.scss */
.post .comments .comment-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 122, ../../scss/theme/post.scss */
.post .comments .comment {
  margin-left: 20px;
  margin-bottom: 15px;
}
/* line 126, ../../scss/theme/post.scss */
.post .comments .comment-content {
  margin-top: 5px;
}
/* line 129, ../../scss/theme/post.scss */
.post .comments .comment-author {
  font-weight: bold;
  color: #F962B9;
  display: inline-block;
}
/* line 134, ../../scss/theme/post.scss */
.post .comments .comment-date {
  font-size: 0.8em;
  display: inline-block;
  color: #9ea8de;
}

/* line 142, ../../scss/theme/post.scss */
#notus-form-new-comment-hld {
  margin-top: 40px;
  position: static;
  transform: none;
}
/* line 146, ../../scss/theme/post.scss */
#notus-form-new-comment-hld .form-title, #notus-form-new-comment-hld .form-todo {
  display: none;
}
/* line 149, ../../scss/theme/post.scss */
#notus-form-new-comment-hld .submit {
  position: relative;
  margin-top: 0;
  top: 41px;
}

/* line 12, ../../scss/theme/theme.scss */
body {
  background: #1F38C5;
  color: white;
  font-size: 14px;
  overflow: hidden;
}

/* line 19, ../../scss/theme/theme.scss */
#body-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 25, ../../scss/theme/theme.scss */
main {
  flex: 1;
  padding: 20px 70px;
  overflow: auto;
  max-height: calc(100vh - 83px);
}

/* line 32, ../../scss/theme/theme.scss */
.side-lines {
  font-size: 0.9em;
  color: #5f82ff;
  letter-spacing: 0.1em;
  position: absolute;
  top: 68px;
  left: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
}
/* line 42, ../../scss/theme/theme.scss */
.side-lines:after {
  content: '';
  width: 1px;
  height: calc(100% - 21px);
  right: -10px;
  bottom: 0;
  background: #5f82ff;
  position: absolute;
}
/* line 51, ../../scss/theme/theme.scss */
.side-lines .line {
  margin-bottom: 5px;
}
/* line 53, ../../scss/theme/theme.scss */
.side-lines .line:first-child {
  right: -1.4em;
  position: relative;
}
/* line 56, ../../scss/theme/theme.scss */
.side-lines .line:first-child::after {
  content: '</';
  display: inline-block;
}

/* line 64, ../../scss/theme/theme.scss */
#notus-page-404 .side-lines {
  display: none;
}

/* line 68, ../../scss/theme/theme.scss */
#page404 {
  max-width: 610px;
  font-size: 1.1em;
  letter-spacing: 0.05em;
}
/* line 72, ../../scss/theme/theme.scss */
#page404 .title {
  text-align: center;
  margin-bottom: 5px;
}
/* line 75, ../../scss/theme/theme.scss */
#page404 .title span {
  background: white;
  color: #1F38C5;
  padding: 1px 0;
}
/* line 81, ../../scss/theme/theme.scss */
#page404 .description {
  text-align: justify;
}
/* line 83, ../../scss/theme/theme.scss */
#page404 .description span {
  font-weight: bold;
  text-decoration: underline;
}
/* line 88, ../../scss/theme/theme.scss */
#page404 .more {
  text-align: center;
  margin-top: 35px;
}

/* line 94, ../../scss/theme/theme.scss */
.menu {
  padding: 0;
  list-style: none;
}
/* line 97, ../../scss/theme/theme.scss */
.menu .menu-link {
  text-decoration: none;
  cursor: pointer;
}

/* line 103, ../../scss/theme/theme.scss */
.center-xy, .popup, .popup-bg > .form-hld {
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* line 111, ../../scss/theme/theme.scss */
.popup, .popup-bg > .form-hld {
  background: #1F38C5;
  border: 6px double white;
  position: fixed;
  max-width: 650px;
  z-index: 15;
}
/* line 118, ../../scss/theme/theme.scss */
.popup .popup-title, .popup .form-title, .popup-bg > .form-hld .popup-title, .popup-bg > .form-hld .form-title {
  text-align: center;
  padding: 15px 50px;
  border-bottom: 1px solid white;
  font-weight: bold;
  font-size: 1em;
}
/* line 124, ../../scss/theme/theme.scss */
.popup .popup-title .blink, .popup .form-title .blink, .popup-bg > .form-hld .popup-title .blink, .popup-bg > .form-hld .form-title .blink {
  display: none;
}
/* line 128, ../../scss/theme/theme.scss */
.popup .form-todo,
.popup .code-body::before, .popup-bg > .form-hld .form-todo,
.popup-bg > .form-hld .code-body::before {
  display: none;
}
/* line 132, ../../scss/theme/theme.scss */
.popup .popup-info, .popup .form-top-description, .popup-bg > .form-hld .popup-info, .popup-bg > .form-hld .form-top-description {
  display: block;
  padding: 10px;
  margin-top: 3px;
  border-top: 1px solid white;
  font-size: 1em;
}
/* line 139, ../../scss/theme/theme.scss */
.popup .popup-actions, .popup-bg > .form-hld .popup-actions {
  margin-top: 20px;
  display: flex;
  border-top: 1px solid white;
  padding: 10px;
}
/* line 144, ../../scss/theme/theme.scss */
.popup .popup-actions .action, .popup-bg > .form-hld .popup-actions .action {
  flex: 1;
  text-align: center;
}
/* line 149, ../../scss/theme/theme.scss */
.popup .code-body, .popup-bg > .form-hld .code-body {
  padding: 10px;
}
/* line 152, ../../scss/theme/theme.scss */
.popup div.field, .popup .form-field.submit, .popup-bg > .form-hld div.field, .popup-bg > .form-hld .form-field.submit {
  margin: 5px;
  display: inline-block;
  top: 0;
}
/* line 157, ../../scss/theme/theme.scss */
.popup div.field, .popup-bg > .form-hld div.field {
  background: #F962B9;
  padding: 0 2px;
  cursor: pointer;
}

/* line 164, ../../scss/theme/theme.scss */
.form-hld {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 170, ../../scss/theme/theme.scss */
#cookie {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  font-size: 15px;
}
/* line 179, ../../scss/theme/theme.scss */
#cookie .Necessary .hover-list {
  cursor: not-allowed;
}
/* line 181, ../../scss/theme/theme.scss */
#cookie .Necessary .hover-list:hover {
  background: #1F38C5;
  color: #FCFB66;
}
/* line 187, ../../scss/theme/theme.scss */
#cookie .action span {
  display: inline-block;
  cursor: pointer;
  padding: 3px 5px;
}
/* line 192, ../../scss/theme/theme.scss */
#cookie .action.accept-cookie span {
  background: #04bca6;
}
/* line 195, ../../scss/theme/theme.scss */
#cookie .action.decline-cookie span {
  background: #FF0000;
}

/* line 201, ../../scss/theme/theme.scss */
.cookie-type {
  padding: 20px 20px 5px;
}

/* line 206, ../../scss/theme/theme.scss */
#notus-page-profile .profile-popups .popup-bg {
  display: none;
}

/* line 211, ../../scss/theme/theme.scss */
.hover-list {
  color: #FCFB66;
  display: flex;
  cursor: pointer;
  padding: 5px 20px;
  margin: 5px 0;
}
/* line 213, ../../scss/theme/theme.scss */
.hover-list .hover-list-name {
  font-weight: bold;
}
/* line 220, ../../scss/theme/theme.scss */
.hover-list > * {
  flex: 1;
  text-align: left;
}
/* line 223, ../../scss/theme/theme.scss */
.hover-list > *:last-child {
  text-align: right;
}
/* line 227, ../../scss/theme/theme.scss */
.hover-list:hover {
  color: #1F38C5;
  background: #BABABA;
}

/* line 233, ../../scss/theme/theme.scss */
.hover-info {
  position: relative;
}
/* line 236, ../../scss/theme/theme.scss */
.hover-info.hover-info-x2:hover .hover-info-content {
  transform: translate(-50%, 100%);
  max-width: 200%;
  left: 50%;
}
/* line 243, ../../scss/theme/theme.scss */
.hover-info:hover .hover-info-content {
  transform: translateY(100%);
  display: block;
  position: absolute;
  padding: 5px;
  font-size: 0.9em;
  background: black;
  color: white;
  left: 0;
  bottom: -5px;
  z-index: 99;
}
/* line 256, ../../scss/theme/theme.scss */
.hover-info .hover-info-content {
  display: none;
}

/* line 261, ../../scss/theme/theme.scss */
.code-top,
.code-bottom {
  background: #04bca6;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  color: white;
}

/* line 270, ../../scss/theme/theme.scss */
.code-body {
  position: relative;
  padding: 20px;
}
/* line 273, ../../scss/theme/theme.scss */
.code-body:before {
  content: '';
  width: 3px;
  height: 100%;
  left: 0px;
  bottom: 0;
  background: #04bca6;
  position: absolute;
}

/* line 284, ../../scss/theme/theme.scss */
.code-element {
  display: flex;
  margin: 0 0 10px 0;
}
/* line 287, ../../scss/theme/theme.scss */
.code-element:last-child {
  margin-bottom: 0;
}

/* line 292, ../../scss/theme/theme.scss */
.code-title {
  display: inline-block;
  background: white;
  color: #1F38C5;
  padding: 2px 0;
  margin-right: 10px;
}

/* line 301, ../../scss/theme/theme.scss */
.code-value:not(.input), .code-value.input input, .code-value.input textarea {
  padding: 2px 5px;
  background: transparent;
  color: #5369E4;
}

/* line 310, ../../scss/theme/theme.scss */
.todo {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  background: orange;
  color: white;
}

/* line 319, ../../scss/theme/theme.scss */
.forums .forum-post {
  transition: all cubic-bezier(0.07, 0.95, 0, 1) 0.1s;
  width: 100%;
  display: flex;
  border: 2px dashed white;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}
/* line 330, ../../scss/theme/theme.scss */
.forums .forum-post:hover {
  background: white;
  color: #1F38C5;
}
/* line 335, ../../scss/theme/theme.scss */
.forums .icon {
  height: 50px;
  width: 50px;
}
/* line 338, ../../scss/theme/theme.scss */
.forums .icon .bug-img {
  background: url("../../../images/bug.ico") no-repeat left top;
  height: 50px;
  width: 50px;
}
/* line 343, ../../scss/theme/theme.scss */
.forums .icon .feature-img {
  background: url("../../../images/feature.ico") no-repeat left top/32px 32px;
  height: 50px;
  width: 50px;
  image-rendering: optimizespeed;
}
/* line 349, ../../scss/theme/theme.scss */
.forums .icon .type {
  display: none;
}
/* line 353, ../../scss/theme/theme.scss */
.forums .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 358, ../../scss/theme/theme.scss */
.forums .body {
  font-size: 0.8em;
}
/* line 361, ../../scss/theme/theme.scss */
.forums .about {
  font-size: 0.8em;
  margin-top: 10px;
}
/* line 364, ../../scss/theme/theme.scss */
.forums .about span {
  font-weight: bold;
}

/* line 370, ../../scss/theme/theme.scss */
.pager {
  margin-top: 10px;
  padding: 15px;
  border: 2px dashed white;
  width: 100%;
  box-sizing: border-box;
}
/* line 376, ../../scss/theme/theme.scss */
.pager:before {
  content: "Pager";
  background: white;
  color: #1F38C5;
  text-align: center;
  padding: 5px;
  display: block;
  margin-bottom: 15px;
  margin-top: -15px;
  margin-left: -15px;
  width: calc(100% + 20px);
}
/* line 388, ../../scss/theme/theme.scss */
.pager .pager-item {
  color: white;
  text-decoration: none;
}
/* line 391, ../../scss/theme/theme.scss */
.pager .pager-item:hover {
  text-decoration: underline;
}
/* line 396, ../../scss/theme/theme.scss */
.pager .pager-item.is-active:before, .pager .pager-item.is-active:after, .pager .pager-item:hover:before, .pager .pager-item:hover:after {
  display: inline-block;
}
/* line 400, ../../scss/theme/theme.scss */
.pager .pager-item.is-active:before, .pager .pager-item:hover:before {
  content: "[";
}
/* line 403, ../../scss/theme/theme.scss */
.pager .pager-item.is-active:after, .pager .pager-item:hover:after {
  content: "]";
}

/* line 410, ../../scss/theme/theme.scss */
#notus-form-search-hld {
  margin-bottom: 50px;
  position: static;
  transform: none;
}

/* line 417, ../../scss/theme/theme.scss */
.form-field.select > div {
  display: inline-block;
  vertical-align: top;
}
/* line 421, ../../scss/theme/theme.scss */
.form-field.select .nice-select {
  min-width: 200px;
  position: relative;
  cursor: pointer;
  background: white;
  color: #1F38C5;
  padding: 2px;
}
/* line 428, ../../scss/theme/theme.scss */
.form-field.select .nice-select:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  border-left: 2px solid #1F38C5;
  width: 6px;
  height: 6px;
  border-top: 2px solid #1F38C5;
  transform: rotate(225deg);
}
/* line 439, ../../scss/theme/theme.scss */
.form-field.select .nice-select ul {
  display: none;
  padding-left: 0;
  list-style: none;
  margin: 0 0 5px 0;
  border-top: 1px solid;
  padding-top: 5px;
}
/* line 446, ../../scss/theme/theme.scss */
.form-field.select .nice-select ul li {
  margin: 2px 0;
}
/* line 447, ../../scss/theme/theme.scss */
.form-field.select .nice-select ul li:hover, .form-field.select .nice-select ul li.selected {
  background: #182B99;
  color: white;
}
/* line 455, ../../scss/theme/theme.scss */
.form-field.select .nice-select.open:after {
  transform: rotate(45deg);
  top: 8px;
}
/* line 459, ../../scss/theme/theme.scss */
.form-field.select .nice-select.open ul {
  display: block;
}

/* line 468, ../../scss/theme/theme.scss */
form .form-field .description .validates {
  margin: 2px 0;
  white-space: nowrap;
}
/* line 471, ../../scss/theme/theme.scss */
form .form-field .description .validates span {
  font-weight: bold;
  color: #13fade;
  text-transform: uppercase;
}

/* line 481, ../../scss/theme/theme.scss */
.multi-field-content .remove {
  display: inline-block;
  background: #FF0000;
  font-weight: bold;
  padding: 2px 5px;
  cursor: pointer;
}
/* line 488, ../../scss/theme/theme.scss */
.multi-field-content .add-field {
  margin-top: 5px;
}
/* line 490, ../../scss/theme/theme.scss */
.multi-field-content .add-field span {
  background: black;
  padding: 3px 5px;
  display: inline-block;
  cursor: pointer;
}

/* line 499, ../../scss/theme/theme.scss */
.profile-side-menu {
  display: inline-block;
  border-right: 4px double white;
  width: 200px;
  margin-right: 20px;
}
/* line 504, ../../scss/theme/theme.scss */
.profile-side-menu ul {
  list-style: none;
  padding: 0;
}
/* line 508, ../../scss/theme/theme.scss */
.profile-side-menu .first-level {
  position: relative;
}
/* line 510, ../../scss/theme/theme.scss */
.profile-side-menu .first-level:before {
  content: "";
  width: 2px;
  background: white;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 519, ../../scss/theme/theme.scss */
.profile-side-menu .first-level > li > ul {
  padding-left: 20px;
  margin-bottom: 10px;
}
/* line 522, ../../scss/theme/theme.scss */
.profile-side-menu .first-level > li > ul li {
  padding: 3px 0;
  position: relative;
  cursor: pointer;
}
/* line 528, ../../scss/theme/theme.scss */
.profile-side-menu .first-level > li > ul li.is-active::before, .profile-side-menu .first-level > li > ul li:hover::before {
  content: ">";
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}
/* line 538, ../../scss/theme/theme.scss */
.profile-side-menu .title {
  position: relative;
  margin: 0 0 10px 0;
  padding-right: 10px;
  display: inline-block;
  background: white;
  color: #1F38C5;
}
/* line 545, ../../scss/theme/theme.scss */
.profile-side-menu .title:before {
  content: "+";
  border: 2px solid white;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  padding-left: 4px;
  box-sizing: border-box;
  background: #1F38C5;
  color: white;
}

/* line 560, ../../scss/theme/theme.scss */
#notus-page-authentication-content .block-3 {
  display: none;
}

/* line 564, ../../scss/theme/theme.scss */
.profile-content {
  margin-right: 20px;
  border-right: 2px dotted;
  padding: 20px 20px 20px 0;
  border-right: 4px double;
}
/* line 569, ../../scss/theme/theme.scss */
.profile-content .profile-picture {
  position: relative;
  width: 250px;
  height: 250px;
  image-rendering: optimizespeed;
  border: 6px solid white;
}
/* line 575, ../../scss/theme/theme.scss */
.profile-content .profile-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* line 580, ../../scss/theme/theme.scss */
.profile-content .profile-picture .points, .profile-content .profile-picture .username {
  position: absolute;
  background: #04bca6;
  color: white;
  bottom: 0px;
  left: 0;
  padding: 2px 4px;
}
/* line 588, ../../scss/theme/theme.scss */
.profile-content .profile-picture .username {
  background: #182B99;
  bottom: 20px;
}
/* line 594, ../../scss/theme/theme.scss */
.profile-content .title {
  margin-top: 20px;
  background: white;
  display: inline-block;
  color: #1F38C5;
  padding: 2px 5px;
  margin-bottom: 5px;
}
/* line 602, ../../scss/theme/theme.scss */
.profile-content .content {
  max-width: 250px;
}
/* line 605, ../../scss/theme/theme.scss */
.profile-content .content.null span {
  display: inline-block;
  padding: 2px 4px;
  background: #FF0000;
  color: white;
}

/* line 616, ../../scss/theme/theme.scss */
#notus-page-post-content .block {
  max-width: 570px;
}

/* line 622, ../../scss/theme/theme.scss */
#notus-form-search-hld .form-todo {
  display: none;
}

/* line 627, ../../scss/theme/theme.scss */
.page-profile-content {
  display: flex;
  min-height: 100%;
  border: 4px double;
  padding: 0 20px;
  box-sizing: border-box;
}
/* line 633, ../../scss/theme/theme.scss */
.page-profile-content .stuff {
  flex: 1;
  padding: 20px 30px 0;
}

/* line 639, ../../scss/theme/theme.scss */
.game-hld {
  position: relative;
  display: flex;
  margin: 10px 10px 10px 0;
}
/* line 643, ../../scss/theme/theme.scss */
.game-hld input {
  position: absolute;
  width: 124px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}
/* line 653, ../../scss/theme/theme.scss */
.game-hld input:checked + .game {
  background: black;
  color: white;
  border-color: black;
}
/* line 657, ../../scss/theme/theme.scss */
.game-hld input:checked + .game + .actions {
  max-width: 110px;
  padding: 15px;
}
/* line 665, ../../scss/theme/theme.scss */
.game-hld:hover .game {
  background: white;
  color: #1F38C5;
}
/* line 670, ../../scss/theme/theme.scss */
.game-hld .hover-info-content {
  text-align: left;
  white-space: nowrap;
  max-width: 500%;
}
/* line 674, ../../scss/theme/theme.scss */
.game-hld .hover-info-content span {
  font-weight: bold;
}
/* line 678, ../../scss/theme/theme.scss */
.game-hld .actions {
  transition: all cubic-bezier(0.07, 0.95, 0, 1) 0.2s;
  display: flex;
  overflow: hidden;
  max-width: 0;
  background: black;
  color: white;
  padding: 15px 0;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
/* line 689, ../../scss/theme/theme.scss */
.game-hld .actions .delete {
  background: #FF0000;
  padding: 3px 5px;
}
/* line 693, ../../scss/theme/theme.scss */
.game-hld .actions .download {
  background: #1F38C5;
  padding: 3px 5px;
  margin-bottom: 10px;
}

/* line 701, ../../scss/theme/theme.scss */
.game {
  transition: all cubic-bezier(0.07, 0.95, 0, 1) 0.2s;
  width: 100px;
  text-align: center;
  padding: 15px 10px;
  border: 2px solid white;
}
/* line 707, ../../scss/theme/theme.scss */
.game .icon {
  display: inline-block;
  background: url("../../../images/game.ico") no-repeat center center/32px 32px;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

/* line 715, ../../scss/theme/theme.scss */
.header-title {
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 723, ../../scss/theme/theme.scss */
.my-games .header-title {
  margin-top: 0;
}
/* line 726, ../../scss/theme/theme.scss */
.my-games .games {
  display: flex;
  flex-wrap: wrap;
}

/* line 734, ../../scss/theme/theme.scss */
.popup .action.close span {
  background: #111f6d;
  cursor: pointer;
}
/* line 737, ../../scss/theme/theme.scss */
.popup .action.close span:hover {
  background: #04bca6;
}

/* line 744, ../../scss/theme/theme.scss */
.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  font-size: 15px;
}

/* line 755, ../../scss/theme/theme.scss */
.messages .message {
  margin-bottom: 5px;
}
/* line 757, ../../scss/theme/theme.scss */
.messages .message span {
  display: inline-block;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 3px;
}
/* line 764, ../../scss/theme/theme.scss */
.messages .message.message-error span {
  background: #FF0000;
}
/* line 767, ../../scss/theme/theme.scss */
.messages .message.message-success span {
  background: #00ff8a;
  color: black;
}
