/*
    CONFIGURATION FILE
*/

$fontMain: "Fira Code", serif;

// Animation
$animation: cubic-bezier(.07, .95, 0, 1);

// Colors:
$colorBlueMain: #1F38C5;
$colorBlueLight: #5369E4;
$colorBlueDark: #182B99;

$colorGreen: #04bca6;
$colorPink: #F962B9;
$colorPinkNeom: #ff0063;
$colorRed: #FF0000;
$colorOrange: orange;
$colorYellow: #FCFB66;

$colorWhite: white;
$colorBlack: black;
$colorGray: #BABABA;
