/*
    MAIN THEME FAIL
*/

// Import config
@import "../config/config";
@import "animations";
@import "header";
@import "home";
@import "authentication";
@import "post";

body{
    background: $colorBlueMain;
    color: white;
    font-size: 14px;
    overflow: hidden;
}

#body-content{
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
}

main{
    flex: 1;
    padding: 20px 70px;
    overflow: auto;
    max-height: calc(100vh - 83px)
}

.side-lines{
    font-size: 0.9em;
    color: #5f82ff;
    letter-spacing: 0.1em;
    position: absolute;
    top: 68px;
    left: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    &:after{
        content: '';
        width: 1px;
        height: calc(100% - 21px);
        right: -10px;
        bottom: 0;
        background: #5f82ff;
        position: absolute;
    }
    .line{
        margin-bottom: 5px;
        &:first-child{
        right: -1.4em;
position: relative;
        &::after{
            content: '</';
            display: inline-block;
        }
    }}
}

.menu{
    padding: 0;
    list-style: none;
    .menu-link{
        text-decoration: none;
        cursor: pointer;
    }
}

.center-xy{
    display: inline-block;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}


.popup{
    @extend .center-xy;
    background: $colorBlueMain;
    border: 6px double $colorWhite;
    position: fixed;
    max-width: 650px;
    z-index: 15;
    .popup-title{
        text-align: center;
        padding: 15px 50px;
        border-bottom: 1px solid $colorWhite;
        font-weight: bold;
    }
    .popup-info{
        padding: 10px;
        margin-top: 3px;
        border-top: 1px solid $colorWhite;
    }
    .popup-actions{
        margin-top: 20px;
        display: flex;
        border-top: 1px solid $colorWhite;
        padding: 10px;
        .action{
            flex: 1;
            text-align: center;
        }
    }
}

.form-hld{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#cookie{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    font-size: 15px;
    .Necessary .hover-list{
        cursor: not-allowed;
        &:hover{
            background: $colorBlueMain;
            color: $colorYellow;
        }
    }
    .action{
        span{
            display: inline-block;
            cursor: pointer;
            padding: 3px 5px;
            
        }

        &.accept-cookie span{
            background: $colorGreen;
        }
        &.decline-cookie span{
            background: $colorRed;
        }

    }
}
.cookie-type{
    padding: 20px 20px 5px;
}

.hover-list{
    color: $colorYellow;
    .hover-list-name{
        font-weight: bold;
    }
    display: flex;
    cursor: pointer;
    padding: 5px 20px;
    margin: 5px 0;
    &>*{
        flex: 1;
        text-align: left;
        &:last-child{
            text-align: right;
        }
    }
    &:hover{
        color: $colorBlueMain;
        background: $colorGray;
    }
}

.hover-info{
    position: relative;
    &.hover-info-x2:hover {
        .hover-info-content {
            transform: translate(-50%, 100%);
            max-width: 200%;
            left: 50%;
        }
    }
    &:hover {
        .hover-info-content {
            transform: translateY(100%);
            display: block;
            position: absolute;
            //max-width: 100%;
            padding: 5px;
            font-size: 0.9em;
            background: $colorBlack;
            color: $colorWhite;
            left: 0;
            bottom: -5px;
            z-index: 99;
        }
    }
    .hover-info-content {
        display: none;
    }
}

.code-top, .code-bottom{
    background: $colorGreen;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    color: white;
}

.code-body{
    position: relative;
    padding: 20px;
    &:before{
        content: '';
        width: 3px; height: 100%;
        left: 0px; bottom: 0;
        background: $colorGreen;
        position: absolute;
    }
}

.code-element{
    display: flex;
    margin: 0 0 10px 0;
    &:last-child{
        margin-bottom: 0;
    }
}

.code-title{
    display: inline-block;
    background: $colorWhite;
    color: $colorBlueMain;
    padding: 2px 0;
    margin-right: 10px;
}

.code-value{
    &:not(.input), &.input input, &.input textarea{
        padding: 2px 5px;
        background: transparent;       
        color: #5369E4;
    }
}

.todo{
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    background: $colorOrange;
    color: $colorWhite;
}
